.wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: var(--white);

    .wishlistWrapper {
        width: 100%;

        .header {
            margin: 15px 0;
        }

        .title {
            margin-bottom: 20px;
        }

        .cartItem {

            .textZone {

                .quantity {
                    display: none;
                }
            }
        }
    }
}