.wishlist {
    display: flex;
    justify-content: center;
    align-items: center;

    .wishlistWrapper {
        width: 100%;

        .cartItem {

            .textZone {

                .quantity {
                    display: none;
                }
            }
        }
    }
}