.review {
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  font-size: 10px;
  display: none;
  animation: slide-up 0.5s linear;

  span {
    font-size: 20px;
    color: inherit;
    color: var(--accentColor);
  }
}
