@import '../../global.scss';

.register {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    @include tab {
        height: calc(100vh - 60px);
    }

    .wrapper {
        width: 500px;
        background-color: var(--white);
        border-radius: 5px;

        @include mobile {
            width: 100%;
        }

        .header {
            text-align: center;
            font-size: 28px;
            font-weight: 500;
            padding: 10px 0;
            text-decoration: underline crimson;
        }

        .registerForm {
            padding: 10px;

            .formInput {
                width: 100%;
            }

            .primaryBtn {
                width: 100%;
            }
        }
    }
}