@import '../../global.scss';

.register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 600px;
        background-color: var(--white);
        border-radius: 5px;

        @include mobile {
            width: 100%;
        }

        .registerForm {
            padding: 10px;

            .formInput {
                width: 100%;
            }

            .primaryBtn {
                width: 100%;
            }
        }
    }
}