@import '../../global.scss';

.headerGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
    user-select: none;

    @include mobile {
        margin: 20px 0 30px 0;
    }

    .header {
        text-transform: capitalize;
    }

    .text {
        text-transform: capitalize;
        color: var(--accentColor);
        line-height: 28px;
        font-weight: 500;
    }
}