@import '../../global.scss';

.section {
    margin: 10px 0;
    width: 100%;

    .cardContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include laptopLarge {
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        .card {
            overflow: hidden;
            position: relative;
            width: 413px;
        }
        
        // .card::before {
        //     content: '';
        //     position: absolute;
        //     top: -600px;
        //     left: 0;
        //     width: 10%;
        //     height: 200%;
        //     transform: rotate(45deg);
        //     background-color: #33415c;
        //     opacity: 0.05;
        //     transition: all .5s ease-in-out;
        // }

        // .card:hover::before {
        //     transform: translate(400px, 400px);
        // }
    }
}