.dropdownItem {
  user-select: none;
  width: 100%;
  margin: 10px 0;

  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary);

    &.vis {
      background-color: var(--white);
    }

    .icon {
      width: 20px;
    }
  }

  .dropdownDetails {
    background-color: var(--secondary);
    padding: 10px;
    display: none;
    user-select: text;

    &.vis {
      display: block;
    }
  }
}
