@import '../../global.scss';

.primaryBtn {
    padding: 12px;
    min-width: 150px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: var(--accentColor);
    color: var(--white);
    border-radius: 5px;
    margin: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    z-index: 2;

    @include mobile {
        font-size: 12px;
        min-width: 80px;
        padding: 10px 15px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--fontColor);
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    &:hover::after {
        opacity: 1;
        width: 10%;
        border-radius: 32% 52% 51% 32% / 0% 46% 52% 0% ;
        z-index: -1;
    }
}