@import '../../global.scss';

.product {
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .productLeft {
        width: 50%;
        padding: 10px;


        @include mobile {
            width: 100%;
        }

        .productImg {
            width: 100%;
            height: 100%;
            max-height: 500px;
            object-fit: contain;
        }
    }

    .productRight {
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile {
            width: 100%;
            align-items: center;
        }

        .header {
            margin: 15px 0;
        }

        .title {
            color: var(--accentColor);
            margin: 0 0 10px 0;
        }

        .features {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .quantity {
            margin: 10px 0;
            display: flex;
            align-items: center;

            .text {
                margin-right: 10px;
                font-weight: 500;
            }

            .quantityWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img {
                    width: 20px;
                    cursor: pointer;
                }

                .text {
                    margin: 0;
                }
            }
        }

        .primaryBtn {
            width: 60%;
        }
    }
}

.pr-textZone {

    .header {
        text-align: center;
        text-decoration: underline var(--accentColor);
        margin: 30px 0;
    }
}