.checkout {
    padding: 10px;

    .checkoutContent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h6 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .checkoutBtn {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}