@import '../../global.scss';

.banner {
    height: 700px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    user-select: none;

    @include laptop {
        height: 600px;
    }

    @include ipad {
        height: 500px;
    }

    @include tab {
        height: 400px;
    }

    @include mobile {
        height: 250px;
    }

    @include sMobile {
        height: 230px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
}