@import '../../global.scss';

.orders {
    display: flex;
    justify-content: center;
    align-items: center;

    .ordersWrapper {
        width: 100%;

        .linkSection {
            border-bottom: 1px solid rgb(223, 219, 219);
            padding: 5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                width: 15px;
                transform: rotate(90deg);
            }

            .accountLink {
                font-size: 21px;
                font-weight: 600;

                @include mobile {
                    font-size: 16px;
                }
            }
        }
    }

}