@import '../../global.scss';

.cart {

    .header {
        font-size: 40px;
        font-weight: 600;
        margin: 15px 0;

        @include mobile {
            font-size: 28px;
        }
    }

    .sectionHeader {
        font-size: 28px;
        font-weight: 500;
        margin: 0 0 25px 0;

        @include mobile {
            font-size: 20px;
        }
    }
}

.emptyCart {
    font-size: 30px;
    text-align: center;
    margin: 100px 0;
}