@import '../../global.scss';

.cart {

    .checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px 0 20px 0;

        @include mobile {
            margin: 40px 0 20px 0;
        }
    }
}