@import '../../global.scss';

.slider-fs {
    height: calc(100vh - 45px);
    display: flex;
    background-image: url('../../img/sliderBanner/bg.webp');
    background-position: center;
    background-size: cover;
    position: relative;

    @include ipad {
        height: 50vh;
    }

    .slider-col {
        width: 50%;
        transition: background-image 1s ease;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        user-select: none;

        @include mobile {
            width: 100%;
        }

        &:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 5%;

            @include mobile {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
            }

            .tagline {
                font-size: 95px;
                line-height: 1.3;
                font-weight: 300;

                @include laptop {
                    font-size: 70px;
                }

                @include ipad {
                    font-size: 50px;
                }

                @include sMobile {
                    font-size: 35px;
                }

                span {
                    font-weight: 800;
                    font-size: 110px;
                    color: var(--white);
                    text-transform: uppercase;

                    @include laptop {
                        font-size: 85px;
                    }

                    @include ipad {
                        font-size: 65px;
                    }

                    @include sMobile {
                        font-size: 50px;
                    }
                }
            }
        }
    }
}